body{
    background-color: black;
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: rgb(52, 161, 165);
}